* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #81B29A;
}

.header-page h1 {
    text-align: center;
    background-color: #3D405B;
    color: #F2CC8F;
    border: 1px solid #F2CC8F;

}
.links {
    text-align: right;
    background-color: #3D405B;
    color: #F2CC8F;
    text-decoration: none;
}
ul li,a {
    display: inline-block;
    margin-left: 60px;
    color: #F2CC8F;
    text-decoration: none;
    
    
    }

article {
    margin-top: 50px;
    height: 198px;
    margin-right: auto;
    margin-left: auto;
    background-color: #3D405B;
    display: inline-block;
}
.artigos img {
    width: 248px;
    float: right;
    border: 1px solid #F2CC8F;
}
.artigos h2 {
    border: 1px solid #F2CC8F;
}
 h2 { 
    color: #F2CC8F;
    text-align: center;
}
.artigos h3{
    border: 1px solid #F2CC8F;
    font-style: italic;
    color: #F2CC8F;
    margin-right: 304px;
    padding-right: 50px ;
    
}
.tabel{
    margin-top: 7px;
    color: #F2CC8F;

}
table, th, td {
    border: 1px solid #F2CC8F;
    
}